<h3 class="text-center">Comments</h3>
<table class="table table-striped text-center" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let c of comments">
            <td>{{c.id}}</td>
            <td>{{c.comment}}</td>
            <!-- <td><button (click)="addcomment(post.id)" class="btn btn-primary"> add comment</button> </td>
            <td><button (click)="viewcomments(post.id)" class="btn btn-primary"> view comments</button> </td> -->
        </tr>
    </tbody>
</table>
