<div class="createblog">
    <div class="container">
        <form class="blogpost" #createblog="ngForm" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-3 font-weight-normal"> Create Your Blog</h1>
            <div class="form-group">
                <label >Title</label>
                <input type="text" id="title" name="title" #title="ngModel" [(ngModel)]="post.title" class="form-control" placeholder="Title" required="" autofocus="">
            </div>
            <div class="form-group">
                <label >Content</label>
                <input type="text" id="content" name="content" #content="ngModel" [(ngModel)]="post.content" class="form-control" placeholder="Password" required="" autofocus="">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Post</button>

        </form>

    </div>
</div>
